.retraining {
    margin-top: 19px;
    &__wrapper {
        display: grid;
        grid-template-columns: 562px 461px;
        column-gap: 40px;
        padding: 24px 160px 56px 148px;
    }
    &__descr {
        width: 519px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #64647C;
    }
    &__items {
        width: 540px;
        display: grid;
        grid-template-columns: repeat(3, 124px);
        justify-content: space-between;
    }
    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;    
        &-descr {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #505D68;
        }    
    }
}